@{

}

@model IEnumerable<string>

@*this default file displays the various book category columns as buttons that can be pressed to route to the correct book category results*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" /> 
@*using this style sheet to incorporate a bootstrap feature of a description when hovering over nav bars*@

<a asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1" class="btn btn-outline-secondary btn-block"
   title="Home Page" data-toggle="popover" data-trigger="hover" data-content="Return to the entire list of books without categories">Home</a>
<br />

@foreach (string t in Model)
{
    <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="@t" asp-route-pageNum="1" class="btn @(ViewBag.SelectedCategory == t ?  "btn-primary btn-block" : "btn-outline-secondary btn-block")">@t</a>
    <br />
}



