@page
@model Mission9.Pages.PurchaseCompleteModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase from Kate's bookstore! Enjoy your books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home Page</a>
</div>